<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <li><a routerLink="/profile">Profile</a></li>
        <li><a routerLink="/message">Message</a></li>
        <li><a routerLink="/interest">Interest</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
          <li><a routerLink="/login">Login</a></li>
          <li><a routerLink="/logout">Logout</a></li>
      </ul>
    </div>
  </div>
</nav>
