<div class="container">
  <div class="row">
    <div class="col-md-2 side-bg">
      <ul class="nav nav-pills nav-stacked">
        <li class="nav-item"><a routerLink="/profile">Home</a></li>
        <li class="nav-item"><a routerLink="about-me">About Me</a></li>
        <li class="nav-item"><a routerLink="about-date">About Date</a></li>

        <li class="nav-item"><a routerLink="/profile">Setting</a></li>
      </ul>
    </div>
    <div class="col-md-7">
      <router-outlet></router-outlet>
    </div>
    <div class="col-md-3"></div>
  </div>
</div>

