<div class="container body-content">
    <div class="row">
      <div class="col-md-10 col-sm-10 col-xs-10 col-md-offset-1 col-sm-offset-1 col-xs-offset-1">
        <div class="row">
          <div class="col-md-4 col-sm-4 col-xm-4">
            <div class="quick-reg">
              <h4>Register Here</h4>
              <form (ngSubmit)="onSubmit(userFrm)" #basicProfile="ngForm">

                <div class="row">                  
                  <div class="col-md-12 col-sm-12 colxs-12">
                      <mat-form-field class="data-entry">
                          <input type="text" 
                              matInput
                              id="firstName"                           
                              name="firstName" 
                              placeholder="First Name">
                      </mat-form-field>                   
                  </div>
                  </div>                 
                   <div class="row">
                  <div class="col-md-12 col-sm-12 colxs-12">
                      <mat-form-field class="data-entry">
                          <input type="text" 
                              matInput
                              id="lastName"                           
                              name="lastName" 
                              placeholder="Last Name">
                      </mat-form-field>  
                  </div>                  
                </div>                
                <div class="row">
                    <div class="col-md-12 col-sm-12 colxs-12">
                        <mat-form-field class="data-entry">
                            <mat-select placeholder="Gender">
                              <mat-option [value]="Female">Female</mat-option>
                              <mat-option [value]="Male">Male</mat-option>                              
                            </mat-select>
                        </mat-form-field>                        
                    </div>
                    </div>
                    <div class="row">
                    <div class="col-md-12 col-sm-12 colxs-12">
                        <mat-form-field class="data-entry">
                            <mat-select placeholder="Country">
                              <mat-option [value]="Nigeria">Nigeria</mat-option>                                                            
                            </mat-select>
                        </mat-form-field>                         
                    </div>                  
                </div>
                <div class="row">                   
                    <div class="col-md-12 col-sm-12 colxs-12">
                        <mat-form-field class="data-entry">
                            <input type="text" 
                                matInput
                                id="city"                           
                                name="city" 
                                placeholder="City">
                        </mat-form-field>                         
                    </div>
                </div>
                <div class="row">
                  <div class="col-md-12">
                      <mat-form-field class="data-entry">
                          <input type="email" 
                              matInput
                              id="email"                           
                              name="email" 
                              placeholder="Email">
                      </mat-form-field>          
                  </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <mat-form-field class="data-entry">
                            <input type="password" 
                                matInput
                                id="password"                           
                                name="password" 
                                placeholder="Password">
                        </mat-form-field>          
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-12">
                        <button mat-raised-button color="warn">Register</button>
                    </div>
                  </div>
              </form>
            </div>
          </div>
          <div class="col-md-4">
            <div *ngIf="msg" role="alert" class="alert alert-info alert-dismissible">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                <span class="sr-only">Error:</span>
                {{msg}}
              </div>
          </div>
        </div>
      </div>
    </div>
</div>