    <div class="row">      
          <div class="col-md-6">
            <div>
              <h4>Register Here</h4>
              <form #UserForm="ngForm" (ngSubmit)="newProfile()">

                <div class="form-row"> 
                    <div class="form-group col-md-6">
                      <label for="firstName">First Name</label>
                      <input type="text" class="form-control form-control-sm" placeholder="First Name" id="firstName"                    
                      name="FirstName"
                      #FirstName="ngModel"
                      [(ngModel)] = "user.FirstName">
                    </div> 

                    <div class="form-group col-md-6">
                      <label for="firstName">Last Name</label>
                      <input type="text" class="form-control form-control-sm" placeholder="Last Name" id="lastName"                    
                      name="LastName"
                      #LastName="ngModel"
                      [(ngModel)] = "user.LastName">
                    </div>  
                </div>                
                          
                <div class="form-row">                    
                    <div class="form-group col-md-4">
                        <label for="gender">Gender</label>
                        <select class="form-control" id="gender" name="Gender" 
                           #Gender="ngModel"  [(ngModel)] = "user.Gender">
                           <option selected>Choose...</option>
                           <option *ngFor="let gender of genders" value="{{gender.value}}">{{gender.viewValue}}</option>
                        </select>                                              
                    </div>
                    <div class="form-group col-md-3">
                        <label class="text-sm">DOB</label>
                        <select class="form-control" 
                            [(ngModel)]="mm"
                            name="mm">
                            <option selected>Month</option>
                            <option *ngFor="let month of months" value="{{month.val}}">{{month.display}}</option>
                        </select>                                              
                    </div>
                    <div class="form-group col-md-2">
                        <label></label>
                        <select class="form-control" 
                           [(ngModel)]="dd"
                           name="dd">
                           <option selected>Day</option>
                           <option *ngFor="let day of days" value="{{day.val}}">{{day.display}}</option>
                        </select>
                    </div>
                    <div class="form-group col-md-3">
                        <label></label>
                        <select class="form-control" 
                            [(ngModel)]="yy"
                            name="yy">
                            <option selected>Year</option>
                            <option *ngFor="let year of years" value="{{year.val}}">{{year.display}}</option>
                        </select>
                    </div>
                </div>

                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="country">Country</label>
                        <select class="form-control" name="Country" #Country="ngModel"
                            [(ngModel)]="user.Country">
                            <!-- <option selected value="Nigeria">Nigeria</option> -->
                            <option *ngFor="let country of countries" value="{{country.value}}">{{country.viewValue}}</option>
                        </select>
                    </div>
                    <div class="form-group col-md-6">
                        <label for="country">State/Province</label>
                        <select class="form-control" name="Province" #Province="ngModel"
                            [(ngModel)]="user.Province">
                            <option selected>Choose...</option>
                            <option *ngFor="let state of states" value="{{state.val}}">{{state.display}}</option>
                        </select>
                    </div>
                </div>
                <div class="form-row"> 
                    <div class="form-group col-md-6">
                        <label for="email">E-mail</label>
                        <input type="text" class="form-control" placeholder="E-mail" id="email"                    
                          name="Email"
                          #Email="ngModel"
                          [(ngModel)] = "user.Email">
                    </div> 
    
                    <div class="form-group col-md-6">
                        <label for="password">Password</label>
                        <input type="password" class="form-control" placeholder="Password" id="password"                    
                          name="Password"
                          #Password="ngModel"
                          [(ngModel)] = "user.Password">
                    </div>  
                </div>                           
                
                <div class="form-row">
                    <div class="form-group col-md-12">
                        <label for="relType">Relationship Type</label>
                        <select name="RelType" id="relType" class="form-control"
                            #RelType="ngModel"
                            [(ngModel)]="user.RelType">
                            <option selected>Choose..</option>
                            <option *ngFor="let relType of relTypes" value="{{relType.val}}">{{relType.display}}</option>
                        </select>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-12">
                        <button type="submit" class="btn btn-danger">Register</button>
                    </div>
                </div>                 
              </form>
            </div>
          </div>
          <div class="col-md-6">
            
          </div>       
    </div>